body {
    /*padding: 50px;*/
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font: 14px "Open Sans";
}

a {
    font-family: "Open Sans";
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 60px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    height: 50px;
}

.navbar-expand-lg.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.jumbotron {
    background-size: cover;
    background: #ffffff;
}

.header-visi {
    font-size: 48px;
    text-align: left;
    font-weight: bold;
}

.text-visi {
    text-align: left;
    line-height: 2.5;
    font-family: "Open Sans";
    font-weight: lighter;
}

.header-misi {
    font-size: 48px;
    text-align: left;
}

.header-home {
    font-size: 144px;
    text-align: center;
    font-weight: bold;
    position: relative;
    padding-bottom: 150px;
}

.text-home {
    text-align: center;
    /* line-height: 1.5; */
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 24px;
}

.text-misi {
    text-align: left;
    line-height: 2.5;
    font-family: "Open Sans";
    font-weight: lighter;
}

.img-visi {
    width: 300px;
    height: 270px;
}

.img-pengaduan {
    width: 100%;
    height: 100%;
}

.menu_white {
    color: #fff;
}

.menu_black {
    color: #0F2235;
}

.btn-lainnya {
    border-radius: 100px;
    background-color: #26597F;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 9px 4px 0 rgba(119, 151, 178, 0.16);
}

.potensi-desa {
    padding-top: 150px;
}

.padding-section {
    padding-top: 100px;
}

.lapor-footer {
    float: right;
}

span {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    background-color: #555;
}

.title {
    font-size: 144px;
    padding-left: 70px;
    padding-top: 100px;
}

.events_wrapper {
    width: 100%;
    overflow-x: hidden;
}

.events_wrapper .events {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    height: 483px;
    margin-bottom: 2rem;
}

.events_wrapper .events .event.active {
    z-index: 2;
    -webkit-box-shadow: 088px 155px rgba(0,0,0,18);
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .2s ease;
    visibility: visible;
    opacity: 1;
}

/*STEPPER*/
*,
*:before,
*:after {
    box-sizing: border-box;
}
.step { position: relative; min-height: 32px /* circle-size */ ; }
.step > div:first-child { position: static; height: 0; }
.step > div:last-child { margin-left: 32px ; padding-left: 16px; }
.circle { background: #4285f4; width: 32px; height: 32px; line-height: 32px; border-radius: 16px; position: relative; color: white; text-align: center; }
.line { position: absolute; border-left: 1px solid gainsboro; left: 16px; bottom: 10px; top: 42px; }
.step:last-child .line { display: none; }
.title { line-height: 32px; font-weight: bold; }

/*FOOTER*/
footer {
    background-color: #26597F;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    background-repeat: no-repeat;
}

.footer-rappoa {
    color: #fff;
    font-weight: lighter;
}